@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    src: url(file:///Users/claudiablg/Desktop/Visual%20Studio%20Code/Exemple/index-.html/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(file:///Users/claudiablg/Desktop/Visual%20Studio%20Code/Exemple/index-.html/MaterialIcons-Regular.woff2) format('woff2'),
      url(file:///Users/claudiablg/Desktop/Visual%20Studio%20Code/Exemple/index-.html/MaterialIcons-Regular.woff) format('woff'),
      url(file:///Users/claudiablg/Desktop/Visual%20Studio%20Code/Exemple/index-.html/MaterialIcons-Regular.ttf) format('truetype');
} 
/*
@font-face
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
*/

/* Arrows */
.slick-prev,
.slick-next {
    font-family: 'Material Icons';
    font-weight: normal;
    font-size: 24px;
    width: 2rem;
    height: 2rem;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 12px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fefefe;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #0c1017;
    white-space: nowrap;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background:;
}


.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-size: 24px;
    top: 50%;
    width: 2rem;
    height: 2rem;
    padding: 12px;
    z-index: 2;
    line-height: 1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    background: #0c1017;;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: 'keyboard_arrow_left';
}

[dir='rtl'] .slick-prev:before {
    content: 'keyboard_arrow_left';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: 'keyboard_arrow_right';
}

[dir='rtl'] .slick-next:before {
    content: 'keyboard_arrow_right';
}
*/
